# This file is to specify intentionally untracked files that Git should ignore.
# Read more about .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# dependencies
/node_modules

# production
/dist

# cache
.cache

