## GITATTRIBUTES FOR WEB PROJECTS
#
# This file defines attributes for files in web projects.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#   diff    These files should not be diffed by Git.
#   eol     The line ending style for text files.
#
# Note that binary is a macro for -text -diff.
######################################################################

## AUTO-DETECT
* text=auto

## SOURCE CODE
'*.{bat,coffee,css,htm,html,inc,js,json,jsx,less,od,onlydata,php,pl,py,rb,sass,scm,scss,sh,sql,styl,tag,ts,tsx,xml,xhtml}' text eol=lf

## DOCKER
'.{dockerignore,Dockerfile}' text eol=lf

## DOCUMENTATION
'.{markdown,md,mdwn,mdown,mkd,mkdn,mdtxt,mdtext,txt}' text eol=lf
'{AUTHORS,CHANGELOG,CHANGES,CONTRIBUTING,COPYING,copyright,COPYRIGHT*,INSTALL,license,LICENSE*,NEWS,readme,README*,TODO}' text eol=lf

## TEMPLATES
'*.{dot,ejs,haml,handlebars,hbs,hbt,jade,latte,mustache,njk,phtml,tmpl,tpl,twig}' text eol=lf

## LINTERS
'.{babelrc,csslintrc,eslintrc,htmlhintrc,jscsrc,jshintrc,jshintignore,prettierrc,stylelintrc}' text

## CONFIGS
'.{bowerrc,cnf,conf,config,browserslistrc,editorconfig,gitattributes,gitconfig,gitignore,htaccess,npmignore,yaml,yml,browserslist,Makefile,makefile}' text

## HEROKU
'Procfile'    text eol=lf
'.slugignore' text

## GRAPHICS
'*.{ai,bmp,eps,gif,ico,jng,jp2,jpg,jpeg,jpx,jxr,pdf,png,psb,psd,svgz,tif,tiff,wbmp,webp}' binary diff
'*.svg'       text eol=lf

## AUDIO
'*.{kar,m4a,mid,midi,mp3,ogg,ra}' binary diff

## VIDEO
'*.{3gpp,3gp,as,asf,asx,fla,flv,m4v,mng,mov,mp4,mpeg,mpg,ogv,swc,swf,webm}' binary diff

## ARCHIVES
'*.{7z,gz,jar,rar,tar,zip}' binary diff

## FONTS
'*.{ttf,eot,otf,woff,woff2}' binary diff

## EXECUTABLES
'*.{exe,pyc}' binary diff

