## GITATTRIBUTES FOR WEB PROJECTS
#
# These settings are for any web project.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################

## AUTO-DETECT
* text=auto

## SOURCE CODE
'*.bat'      text eol=crlf
'*.coffee'   text
'*.(css|htm|html|inc|js|json|jsx|less|od|onlydata|php|pl|py|rb|sass|scm|scss|sh|sql|styl|tag|ts|tsx|xml|xhtml)' text
'*.sh'       text eol=lf

## DOCKER
'.dockerignore' text
'Dockerfile'     text

## DOCUMENTATION
'*.(markdown|md|mdwn|mdown|mkd|mkdn|mdtxt|mdtext|txt)' text
'AUTHORS'      text
'CHANGELOG'    text
'CHANGES'      text
'CONTRIBUTING' text
'COPYING'      text
'copyright'    text
'*COPYRIGHT*'  text
'INSTALL'      text
'license'      text
'LICENSE'      text
'NEWS'         text
'readme'       text
'*README*'     text
'TODO'         text

## TEMPLATES
'*.(dot|ejs|haml|handlebars|hbs|hbt|jade|latte|mustache|njk|phtml|tmpl|tpl|twig)' text

## LINTERS
'.(babelrc|csslintrc|eslintrc|htmlhintrc|jscsrc|jshintrc|jshintignore|prettierrc|stylelintrc)' text

## CONFIGS
'.(bowerrc|cnf|conf|config|browserslistrc|editorconfig|gitattributes|gitconfig|gitignore|htaccess|npmignore|yaml|yml|browserslist|Makefile|makefile)' text

## HEROKU
'Procfile'    text
'.slugignore' text

## GRAPHICS
'*.(ai|bmp|eps|gif|ico|jng|jp2|jpg|jpeg|jpx|jxr|pdf|png|psb|psd|svgz|tif|tiff|wbmp|webp)' binary
'*.svg'       text

## AUDIO
'*.(kar|m4a|mid|midi|mp3|ogg|ra)' binary

## VIDEO
'*.(3gpp|3gp|as|asf|asx|fla|flv|m4v|mng|mov|mp4|mpeg|mpg|ogv|swc|swf|webm)' binary

## ARCHIVES
'*.(7z|gz|jar|rar|tar|zip)' binary

## FONTS
'*.(ttf|eot|otf|woff|woff2)' binary

## EXECUTABLES
'*.(exe|pyc)' binary
